<h1>Jobs</h1>

<p-button routerLink="/jobs/add" label="Add" icon="pi pi-plus"></p-button>

<p-table [value]="jobs" selectionMode="single" (onRowSelect)="selectJob($event.data)">
  <ng-template pTemplate="header">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Valid from</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-job>
    <tr [pSelectableRow]="job">
      <td>{{job.code | uppercase}}</td>
      <td>{{job.name}}</td>
      <td>{{job.validFrom | formatDate}}</td>
    </tr>
  </ng-template>
</p-table>
